@use "global" as *;
$drawer-width: rem(34);
$drawer-height: rem(2);
$drawer-color: #ffffff;


.hamburger {
    z-index: 9999;
}

.hamburger span{
    position: relative;
    display: block;
    width: $drawer-width;
    height: $drawer-height;
    background-color: $drawer-color;
    transition: ease .3s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger.is-open span:nth-child(1) {
    top: rem(8);
    transform: rotate(45deg);
}

.hamburger span:nth-child(2) {
    margin: rem(6) 0;
}

.hamburger.is-open span:nth-child(2) {
    opacity: 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}

.hamburger.is-open span:nth-child(3) {
    transform: rotate(-45deg);
    top: rem(-8);
}