@use "global" as *;@use "global" as *;

.sp-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 8888;
    font-family: $second-font-family;
    font-weight: $bold;
    letter-spacing: 0.046875em;
    background: transparent linear-gradient(155deg, #642390 0%, #19074A 100%) 0% 0% no-repeat padding-box;
}
.sp-nav__item {
    width: 100%;
    text-align: center;
}

.sp-nav__link {
    display: inline-block;
    color: $white-color;
    padding-top: rem(10);
    padding-bottom: rem(10);
    text-transform: uppercase;
    position: relative;
}

.sp-nav__link::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: rem(3);
    transition: transform 0.3s;
    transform: scale(0, 1);
    transform-origin: center;
    background-color: $white-color;
}

.sp-nav__link:hover::before {
    transform: scale(1, 1);
}
